.main-nav {
  width: 1600px;
  margin: 0 auto;
  min-height: 200px;
}

.main-nav__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  padding-right: 50px;
  margin-top: 80px;

  &:last-child {
    margin-left: auto;
  }
}

.main-nav__item-link {
  font-family: $font-other;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;

  &--favorites {
    color: $favorites;
  }
}

.main-nav__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: $granitetext;

  &::after {
    position: absolute;
    content: "";
    top: 42px;
    left: 430px;
    background-color: $white;
    background-position: center;
    border-radius: 50%;
    width: 21px;
    height: 21px;
  }
}

.main-nav__logo-italic {
  font-style: italic;
}

.main-nav__logo-normal {
  font-style: normal;
}
