// цвета
$black: #000000;
$favorites: #1d1c1d;
$granitetext: #eeeae6;
$white: #ffffff;
$background: #eeeae6;
$wildboar: #595959;
// шрифты

$font-logo: "Playfair Display SC", "Arial", sans-serif;
$font-main: "Playfair Display", "Arial", sans-serif;
$font-other: "Roboto", "Arial", sans-serif;

// размеры

$mobile-width: 320px;
$only-mobile-width: 767px;
$tablet-width: 768px;
$only-tablet-width: 1023px;
$desktop-width-min: 1024px;
$only-desktop-width: 1229px;
$desktop-width: 1280px;
$desktop-max-width: 1680px;

// разрешение экрана
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
